header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
    width:auto;
    margin:auto;
    border:aqua;
    border-radius: 18px;
}
.rsvp {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: size 4px;
    width:30%;
    margin:5px;
    border:aqua 1px solid;
    border-radius: 18px;
}